#container {
  width: 30%;
  margin: auto;
  border-radius: 10px;
  padding: 15px;
  padding-right: 30px;
  border: 1px solid red;
  text-align: center;
  background-color: yellowgreen;
}
#container2 {
  width: 30%;
  margin: auto;
  border-radius: 10px;
  padding: 15px;
  padding-right: 30px;
  text-align: center;
  background-color: yellowgreen;
}
input {
  display: block;
  width: 100%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 22px;
}
h1 > a {
  text-align: center;
  color: black;
  margin-top: 30px;
}
h2 {
  text-align: center;
  color: black;
}
a {
  text-decoration: none;
  background-color: black;
  color: blue;
  font-size: 16px;
  border: none;
}
button {
  border: none;
  padding: 3px;
}
